<div class="declaration-box">
  <div class="title"> MIFSOLA </div>
  <div class="content">
    <span class="subtitle">专利： </span>
    <p>Mifsola 是SUNMOLES的专利成分，是一种叫做Saccharomyces特殊酵母菌发酵过程中，所提取的产物滤液。它具有紧致、保湿、滋润、修护等功效。 </p>
    <br>

    <span class="subtitle">由来：</span>
    <p>
      1960年，韩国的一个农场内… <br>
      品牌创始人的爷爷，当时还是一个富有冒险精神的青年，他惊讶的发现，这里的人们都拥有比同龄人更紧致嫩滑的皮肤。一番探寻之后，他发现秘密就藏在她们世代常年劳作种植的那片古老的稻田里和大米发酵的窖池里。 <br>
      43年后，创始人发现新婚妻子总是对护肤品不满意，心疼妻子的他，决定从爷爷留下的笔记中获得的灵感，自己研发一款护肤品。 <br>
      2010年，Mifsola在经历了无数个日夜的努力后问世了。这不仅代表着创始人对妻子最长情的告白，也成就了一个制造温暖的美丽品牌—SUNMOLES。
    </p>
    <br>

    <span class="subtitle">功能：</span> <br>
    <span class="subtitle">紧致肌肤 </span>
    <p>
      年龄增长中，身体的新陈代谢变慢，细胞皱缩，皮肤松弛，逐步形成一道道皱纹。 <br>
      SUNMOLES的Mifsola富含多种有机酸，辅酶Q10等修护受损肌肤，有效改善肌肤的松弛、粗糙、暗黄、毛孔粗大等问题，提升皮肤的细腻度和光滑度。 <br>
    </p>

    <span class="subtitle">深度保湿 </span>
    <p>
      补水保湿是护肤中最重要的一环。Mifsola中富含天然的补水保湿成分，帮助肌肤排除废物，增加保湿能力，保持持久净透水润。
    </p>

    <span class="subtitle">滋养肌肤 </span>
    <p>
      肌肤的水分会随着年龄的增长而减少，必须要通过后期的补充保养才能维持细胞中的水份含量。SUNMOLES中天然的酵母精华Mifsola富含“天然保湿因子”，深度滋润肌肤，有效修护粗糙肌肤表层，有很强的抗氧化和镇静消炎的功效，维持肌肤一整天不干燥。
    </p>

    <span class="subtitle">修护肌肤 </span>
    <p>
      紫外线、电子产品、灯光，皮肤细胞无时无刻不在被破坏。当新陈代谢跟不上细胞更新的速度时，皮肤就会因为细胞受损呈现衰老松弛的状态。SUNMOLES的天然酵母精华Mifsola融合乳酸菌成分，促进肌肤自身优化循环，修复受损细胞，重返紧致弹力的年轻态。
    </p>





</div>
