<div class="declaration-box">
  <div class="title"> MIFSOLA </div>
  <div class="content">
    <span class="subtitle">Patents: </span>
    <p>
      Mifsola, as a patented ingredient of SUNMOLES, is the filtrate extracted from the fermentation of the special yeast called Saccharomyces. Mifsola has the functions such as skin tightening, moisturizing, moistening, repair, etc.
    </p>
    <br>

    <span class="subtitle">Origin:</span>
    <p>
      In a farm of South Korea in 1960, ... <br>
      The grandfather of the brand founder, as an adventurous youth at that time, was surprised to find that people here had more firm-looking and tender skin than their peers. After exploration, he discovered that it was benefited from the old field in which they had planted rice from year to year and the pit for rice fermenting. <br>
      43 years later, after knowing that the newlywed wife was always dissatisfied with the skin care products, the founder who loved his wife decided to take inspiration from his grandfather's notes and develop a set of skin care products. <br>
      In 2010, Mifsola came out after numerous attempts day and night, which not only represents the founder's longest confession of his wife, but creates a beautiful and warm brand - SMMOLES. <br>
    </p>
    <br>

    <span class="subtitle">Functions: </span> <br>
    <span class="subtitle">Skin tightening </span>
    <p>
      As we get older, our metabolism runs slowly, accompanied by shrinking cell and loose skin. Thus, we will gradually get wrinkles. <br>
      SUNMOLES Mifsola is rich in organic acids, coenzyme Q10 and other ingredients that can repair our damaged skin and effectively improve skin conditions, such as loose, rough and deep yellow skin, large pores, etc., thus improving smoothness and evenness of our skin.
    </p>

    <span class="subtitle">Deep moisturizing </span>
    <p>
      Moisturizing is the most important part of skin care. Mifsola is rich in natural moisturizing ingredients that help the skin eliminate waste, increase moisturizing capacity and maintain long-lasting moisture.
    </p>

    <span class="subtitle">Skin nourishing </span>
    <p>
      The moisture content in the skin will decrease with aging, and must be maintained through moisturizing at the later stage. The natural yeast extract Mifsola in SUNMOLES is rich in "natural moisturizing factor", which can deeply moisturize the skin, and effectively repair the rough skin surface. It has a strong anti-oxidant and anti-inflammatory effect, and can keep the skin from drying all day long.
    </p>

    <span class="subtitle">Skin repair </span>
    <p>
      Ultraviolet rays, electronic products and lights may cause damage to our skin cells all the time. When the metabolism cannot keep up with the pace of cell renewal, the skin will be in an aging and loose state due to cell damage. SUNMOLES' natural yeast extract, Mifsola, contains the lactic acid that boosts the skin's ability of refining and repairing damaged cells so as to allow the skin to return to a firm, elastic and youthful state.
    </p>





</div>
