<div class="declaration-box">
  <div class="title"> MIFSOLA </div>
  <div class="content">
    <span class="subtitle">특허: </span>
    <p>SUNMOLES의 특허 성분인 Mifsola는Saccharomyces라는 효모균을 발효시키는 과정 중에서 나온 생성물에서 추출된 성분입니다. 팽팽하고 촉촉한 피부를 만들어 주고 피부 활성화도 도와 줍니다. </p>
    <br>

    <span class="subtitle">유래:</span>
    <p>
      1960년, 한국 어떤 농장에서… <br>
      브랜드를 창시한 할아버지는 그 때에 모험정신을 가지고 있는 청년였습니다. 마을의 주민들은 동갑보다 피부가 더 미끄럽다는 것을 궁금했습니다. 그 비결을 찾기 위해 주변 환경을 살펴보고 오래된 논과 쌀발효용출에서 정답을 찾아냈습니다. <br>
      43년 후, 창시자는 아내가 화장품에 대한 마음에 안 들어서 할아버지가 남겨준 노트에서 영감을 얻고 화장품을 개발했다. <br>
      2010년, 자신의 노력으로 Mifsola를 개발했습니다. 아내에 대해 애틋한 고백을 전달하고 따뜻하고 아름다운 브랜드인 SUNMOLES를 만들어 냈습니다.
    </p>
    <br>

    <span class="subtitle">기능: </span> <br>
    <span class="subtitle">튼튼한 피부 </span>
    <p>
      나이가 들으면서 신진대사가 느리지게 돼서 피부가 쪼글쪼글해지고 주름이 집니다. SUNMOLES에 함유된 Mifsola는 유기산, 코큐텐 등 성분으로 손상된 피부를 개선해 줍니다. 피부 이완이나 피부의 칙칙함이나 모공 넓음 등의 문제를 해결해 줍니다. 피부의 매끄러움과 부드러움을 향상시켜주기도 합니다
    </p>

    <span class="subtitle">고보습력 </span>
    <p>
      피부에 수분보충은 필수입니다. Mifsola는 천연 보습 성분이 함유되어 피부의 폐기물을 제대로 처리해 줍니다. 보습력이 강해지고 물광 피부를 연출할 수 있습니다.
    </p>

    <span class="subtitle">영양보충 </span>
    <p>
      피부의 수분은 나이가 많을수록 감소하고 있습니다. 영양성분이 보충되어야 세포 중의 수분함량을 유지할 수 있습니다. SUNMOLES에 함유된 천연 효모에센스 Mifsola는 천연보습인자가 많이 함유되어 있습니다. 이러므로 피부를 축축하게 만들어지고 꺼친 피부를 개선해 주고 항산화 및 진정효과가 있습니다. 매일 촉촉한 피부로 유지합니다.
    </p>

    <span class="subtitle">피부활성화 </span>
    <p>
      자외선, 전자제품, 불빛으로 피부 세포를 파괴하고 있습니다. 신진대사가 세포재생보다 느리면 피부가 손상된 세포로 인해 피부이완증이 나타날 것입니다. SUNMOLES에 함유된 천연 효모에센스 Mifsola는 유산균 성분으로 피부에 혈액순환을 촉진시켜서 세포재생에 대한 도움이 되고 팽팽한 피부를 만들어 줍니다. 
    </p>

</div>
