<div class="header-box">
  <div class="header">
    <div class="left">
      <a href="/"><img src="images/oldweb/cn.jpg" border="0"></a>
      &nbsp;&nbsp;
      <a href="/en"><img src="images/oldweb/kr.jpg" border="0"></a>
    </div>
    <div class="logo">
      <h1><a title="SUNMOLES, light up your beauty." href="/"><img src="/images/oldweb/sunmoles.jpg" border="0"></a> </h1>
    </div>
  </div>
</div>
