<div class="declaration-box">
  <div class="title"> DISCLAIMER DECLARATION </div>
  <div class="content">
    <span class="subtitle"> Terms of Use </span>
    <br>
    <span class="subtitle"> Acceptance of Terms </span>
    <p> By accessing this Website, you acknowledge that you have read, understood and accepted the following terms. In case you do not understand or agree to any of the terms, you should immediately exit this Website. Siya China reserves the right to update the TERMS OF USE (TOU) at any time without notice to you. With regard to any behavior of violation against the provisions of the TOU, Siya China shall have the right to seek legal and fair remedies.</p>
    <br>
    <!-- end of Terms of Use -->

    <span class="subtitle"> Limited License </span>
    <p>All contents on this Website are copyrighted by Siya China unless otherwise stated. Without prior written consent of Siya China or other parties, any content on the Website shall not be reproduced, distributed, photocopied, played, linked or transmitted with super-links, loaded into other servers in "mirroring method", stored in information retrieval system, or otherwise used for any commercial purpose by any person by any means, unless otherwise downloaded or reproduced for private and non-commercial purposes (provided however, that such use shall not include any revision to the content and the copyright notices and other proprietary notices shall be retained in the same form and manner as on the original).</p>
    <br>
    <!-- end of Limited License -->

    <span class="subtitle"> Trademark</span>
    <p>All trademarks and logos displayed, mentioned or otherwise used in this Website are property of Siya China or other third parties as stated if applicable. You are not permitted to use any of these trademarks or logos in any way without explicit prior written permission of Siya China or such third party as applicable.</p>
    <br>
    <!-- end of trademark -->

    <span class="subtitle">Disclaimer</span>
    <p>This Website and its contents are provided for your convenience only. Although Siya China has attempted to provide accurate information on this Website, it assumes no obligation or responsibility regarding the accuracy of the information whatsoever. Siya China may change the contents available on this Website or the products mentioned at any time without notice. </p>
    <br>
    <!-- end of Disclaimer -->

    <p> ALL INFORMATION PROVIDED ON THIS WEBSITE IS PROVIDED ON "AS IS" BASIS WITHOUT WARRANTIES, GUARANTEES OR REPRESENTATIONS OF ANY KIND. SIYA CHINA HEREBY EXPRESSLY DISCLAIMS, TO THE FULLEST EXTENT PERMITTED BY LAW, ALL EXPRESS, IMPLIED, STATUTORY OR OTHER WARRANTIES, GUARANTEES OR REPRESENTATIONS, INCLUDING BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT.</p>
    <br>
    <br>
    <br>
  </div>

  <div class="titile"> 免责声明</div>
  <div class="content">
    <br>
    <p>本网站所载的材料和信息，包括但不限于文本、图片、数据、观点、建议、网页或链路，虽然偲娅力图在网站上提供准确的材料和信息，但偲娅并不保证这些材料和内容的准确、完整、充分和可靠性，并且明确声明不对这些材料和内容的错误或遗漏承担责任，也不对这些材料和内容作出任何明示或默示的、包括但不限于有关所有权担保、没有侵犯第三方权利、质量和没有计算机病毒的保证。 </p>
    <br>
    <p>偲娅中国可以在没有任何通知或提示的情况下随时对本网站上的内容进行修改，为了得到最新版本的信息，请定时访问本网站。偲娅中国在本网站上所提及的非SUNMOLES产品或服务仅仅是为了提供相关信息，并不构成对这些产品、服务的认可或推荐。 偲娅并不就网址上提供的任何产品、服务或信息做出任何声明、保证或认可，所有销售的产品和服务应受本公司的销售合同和条款的约束。 </p>
    <br>

    <span class="subtitle">著作权说明</span>
    <p> 本网站所载的所有材料或内容受版权法的保护，所有版权由偲娅中国拥有，但注明引用其他方的内容除外。未经偲娅中国或其他方事先书面许可，任何人不得将本网站上的任何内容以任何方式进行复制、经销、翻印、播放、以超级链路连接或传送、以“镜像法”载入其他服务器上、存储于信息检索系统或者其他任何商业目的的使用，但对于非商业目的的、个人使用的下载或打印（条件是不得修改，且须保留该材料中的版权说明或其他所有权的说明）除外。 </p>
    <br>
    <!--  -->

    <span class="subtitle">商标</span>
    <p> SUNMOLES作为IVYYA旗下商标，授权偲娅中国官方网站上使用和显示的所有商标、标志皆属偲娅中国所有，但注明属于其他方拥有的商标、标志、商号除外。偲娅中国网站所载的任何内容不应被视作未经偲娅中国或其他方书面许可，以暗示、不反对或其他形式授予使用前述任何商标、标志的许可或权利。未经事先书面许可，任何人不得以任何方式使用SUNMOLES名称及SUNMOLES的商标、标记。 </p>
    <br>
    <!--  -->

    <span class="subtitle">提供的产品或服务</span>
    <p> 由于互联网的国际性或无国界性，因此通过本网站所提供信息的亦具有国际性，所以不是所有的在本网站上所提到的产品或服务在您的国家或地区都提供，请联系当地的销售代表或代理商了解在您的国家或地区所提供的产品或服务。  </p>
    <br>
    <!--  -->

    <br>
  </div>
</div>
