<div id="WeAre_main">
    <div id="WeAre_left" style="top: auto; position: relative;">
        <p id="left01" class="left_menu"><span class="">I AM OFFICIAL</span></p>
        <p class="left_sub_menu" style="display: none;">
            <span class="c">SUNMOLES简介</span>
            <span>SUNMOLES优势</span>
        </p>
        <p id="left02" class="left_menu"><span class="green">YOU ARE FRANCHISER</span></p>
        <p class="left_sub_menu green" style="display: block;">
            <span class="c">入驻流程</span>
            <span>订单中心</span>
            <span>配货服务</span>
        </p>
    </div>
    <div id="WeAre_right">
        <div id="right_terminal" class="WeAre_right_panel" style="display: none;">
            <div class="WeAre_sign"><img src="/images/oldweb/pic_sign.png" alt="加入我们"></div>
            <div class="WeAre_title">
                <div class="weare_tit">
                    <span class="tit_icon"></span>
                    SUNMOLES简介
                </div>
            </div>
            <div class="WeAre_content">
                <p>始创于2010年，崇尚天然的力量，萃取大自然及健康成分，倡导自然健康之美，以积极向上的生活方式，全
                方位点亮你的美丽。</p>

                <p>SUNMOLES相信人们对于美的初衷，源自追求健康、积极、向上的人生态度。用天然健康的护肤品和护肤方
                式，SUNMOLES以东方的天然护肤为理念，精选纯天然草本精华及公认健康的有效护肤成分，结合西方的科
                学护肤成果和体验，SUNMOLES高科技精准定位肌肤日常所需，专业护肤，通过激发皮肤自身优化能力，有
                效缓解肌肤衰老及损伤等问题，全方位点亮肌肤，新生焕发。</p>

                <p>超越护肤理念，融合东西方美学理念，有机结合健康生活方式及自然护肤方式，唤醒自身美的力量。
                SUNMOLES创始人的家族是上个世纪90年初开始，为韩国及全球众多一线护肤品牌提供OEM贴牌生产的护
                肤品制造商。长期的护肤行业熏陶，创始人反而希望找到返璞归真的护肤品和护肤方式。</p>

                <p>历经多年探索，在成千上万种配方中反复试验，SUNMOLES最终决定化繁为简，用革命性科研级配方的面
                膜SUNMOLES MASK，全面实现高效护肤。</p>

                <p>2017年1月，SUNMOLES品牌正式进驻中国。</p>

            </div>
            <div class="WeAre_title">
                <div class="weare_tit">
                    <span class="tit_icon" style="background-position: -37px;"></span>
                    SUNMOLES优势
                </div>
            </div>
            <div class="WeAre_content">
                <p><span class="point gold">•</span>入驻条件严苛，品牌内涵和赋予价值的体现</p>
                <p><span class="point gold">•</span>扶植政策优秀，保障经销商在经营范围内的权益</p>
                <p><span class="point gold">•</span>厂家统一进口，保障品质且避免多重税收附加</p>
                <p><span class="point gold">•</span>经销脉络布集全国各省市，市场化区域管理</p>
                <p><span class="point gold">•</span>官方授权管控，促进优化线上线下经营</p>
                <p><span class="point gold">•</span>发布实时政策与咨询，提供一站式服务</p>
                <p><span class="point gold">•</span>提供更多附加服务，为经销商创造商业价值</p>
            </div>
        </div>

        <div id="right_dealer" class="WeAre_right_panel" style="display: block;">
            <div class="WeAre_sign"><img src="/images/oldweb/pic_sign.png" alt="加入我们"></div>
            <div class="WeAre_title">
                <div class="weare_tit">
                    <span class="tit_icon" style="background-position: -74px"></span>
                    入驻流程
                </div>
            </div>
            <div class="WeAre_content">
                <img src="images/oldweb/rzlc.png" alt="" width="100%">
                <p><span class="xh">1</span><span>申请入驻的区域经销商须电联官方经销商热线，提交入驻申请</span></p>
                <div class="mt50 rzsq" style="">
                    <span class="left" style="">SUNMOLES官方经销商热线</span>
                    <span class="right" style="">4000128778-2</span>
                </div>
                <p>
                    <span class="xh">2</span>
                    <span>申请入驻的经销商，需按要求提交以下资料（复印件或扫描件）：</span>
                </p>
                <ul class="mt50">
                    <li><img src="/images/oldweb/list-style.png" alt="">组织机构代码</li>
                    <li><img src="/images/oldweb/list-style.png" alt="">营业执照</li>
                    <li><img src="/images/oldweb/list-style.png" alt="">对公账户开户行许可证</li>
                    <li><img src="/images/oldweb/list-style.png" alt="">法人身份证</li>
                    <li><img src="/images/oldweb/list-style.png" alt="">税务登记证</li>
                    <li><img src="/images/oldweb/list-style.png" alt="">其他相关资料</li>
                </ul>
                <p><span class="xh">3</span><span>由偲娅公司统一对经销商进行入驻资格审核、区域划分审核</span></p>
                <p><span class="xh">4</span><span>审核通过，成功入驻</span></p>
            </div>

            <div class="WeAre_title">
                <div class="weare_tit">
                    <span class="tit_icon" style="background-position: -111px"></span>
                    订单中心
                </div>
            </div>
            <div class="WeAre_content">
                <p><span class="xh">1</span><span>按规定与需求配货商品</span></p>
                <p><span class="xh">2</span><span>管理配货订单</span></p>
            </div>

            <div class="WeAre_title">
                <div class="weare_tit">
                    <span class="tit_icon" style="background-position: -148px"></span>
                    配货服务
                </div>
            </div>
            <div class="WeAre_content">
                <p class="WeAre_sub_title"><img src="/images/oldweb/phfw.png" alt=""></p>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>



<script type="text/javascript">
    $(function () {
        $(".left_menu").each(function(i){
            var This = $(this);
            This.click(function () {
                var color;
                if(This.index()==0)
                    color = "red";
                if(This.index()==2)
                    color = "green";

                if(This.children().attr("class")==color)
                {
                    This.next("p").slideToggle();
                }
                else
                {
                    $("#WeAre_left p, #WeAre_left p span").removeClass("red");
                    $("#WeAre_left p, #WeAre_left p span").removeClass("blue");
                    $("#WeAre_left p, #WeAre_left p span").removeClass("green");
                    This.children().addClass(color);
                    $(".WeAre_right_panel").hide();
                    $(".WeAre_right_panel").eq(This.index()/2).fadeIn();
                    This.next("p").addClass(color);
                    $(".left_menu").next("p").slideUp();
                    This.next("p").slideToggle();
                }
            });
        });
        if($("#indentity").val()=="2"){
            $(".left_menu").eq(1).click();
        }
        if($("#indentity").val()=="3"){
            $(".left_menu").eq(2).click();
        }
        $("p.left_sub_menu span").each(function(i){
            var This = $(this);
            This.click(function () {
                var pid = This.parent().prev().attr("id");
                var pname;

                if(pid=="left01")
                    pname = "#right_terminal";
                if(pid=="left02")
                    pname = "#right_dealer";
                if(pid=="left03")
                    pname = "#right_productor";

                var pos = $(pname + " .WeAre_title").eq(This.index()).offset().top - 20;
                $("html,body").animate({scrollTop: pos},1000);
            });
        });


        var obj = $('#WeAre_left');
        var siteTop = obj.css("top");

        $(window).scroll(function() {
            var scrollTop = $(window).scrollTop();
            if (scrollTop >= 460){
                obj.css({
                    top: 20,
                    position: 'fixed'
                });
            }
            if (scrollTop < 460){
                obj.css({
                    top: 'auto',
                    position: 'relative'
                });
            }
        });
    });
</script>
<script>
    $(function(){
        function loading(){
            $(".left_sub_menu").eq(0).find("span").eq(0).addClass("c").siblings().removeClass("c");
            $(".left_sub_menu").eq(1).find("span").eq(0).addClass("c").siblings().removeClass("c");
        }
        loading();
        $('#WeAre_left p.left_menu').click(function(){
            var t=$('#WeAre_left p.left_menu').index($(this))
            if($(this).find('span').hasClass("blue") || $(this).find('span').hasClass("green")){
                $("#indentity").val(t+1);
            }else{
                $("#indentity").val(1);
            }
        })
        $(window).scroll(function(){
            var t=$('#indentity').val()-1;
            var wst =  $(window).scrollTop();
            var length=$('.left_sub_menu').eq(t).find('span').length;
            for (i=0; i<length; i++){
                var top=$(".WeAre_right_panel").eq(t).find('.WeAre_title').eq(i).offset().top;
                if(top-wst<=98){
                    $(".left_sub_menu").eq(t).find('span').eq(i).addClass("c").siblings().removeClass("c");
                }
            }
        })
    });
</script>
