<div class="idx videos">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;">
					<img class="bottom" src="http://fqiniu.sunmoles.com/images/videos/v_background.jpg" alt="">
				</div>
	    </div>
		<div class="hline" id="videos">
			<%#= image_tag "/images/unit2_idx/area02_idx_h_#{I18n.locale}.png"%>
			<div class="">
				<%= image_tag "http://fqiniu.sunmoles.com/images/videos/v_head_#{I18n.locale}.png"%>
			</div>
			<%= image_tag "http://fqiniu.sunmoles.com/images/videos/v1_titles_wedding_#{I18n.locale}.png"%>
      <video class="videos-player video-js vjs-default-skin vjs-big-play-centered"
        controls preload="auto" width="910"
        poster="http://fqiniu.sunmoles.com/images/videos/v1poster_wedding.png"
        data-setup='{"example_option":true}'>
       <source src="http://fqiniu.sunmoles.com/video/1wedding_<%= I18n.locale %>.mp4" type="video/mp4" />
      </video>
		</div>
</div>
