<div class="lang">
    <img src=" http://oy3jcebj2.bkt.clouddn.com/images/lang/langs.png " alt="">
    <a class="lang-ko" href="/?locale=ko"></a>
    <a class="lang-zh" href="/?locale=zh"></a>
    <a class="lang-en" href="/?locale=en"></a>
    <%#= link_to "中文版", :controller => controller_name, :action => action_name, :locale => "zh" %>
    <%#= link_to "English", :controller => controller_name, :action => action_name, :locale => "en" %>
    <%#= link_to "English", :controller => controller_name, :action => action_name, :locale => "ko" %>
</div>
