  <div class="" style="padding-top: 100px; padding-bottom: 100px;">
    <h2 class="text-center">SUNMOLES</h2>

    <h1 class="text-center" style="color: white;">竹炭净透面膜</h1>

    <div class="col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8">
      <%= image_tag 'samples/sample01.png', width: '100%;' %>
    </div>

    <h3 class='col-sm-offset-2 col-sm-8 col-md-offset-2 col-md-8' style="margin-bottom: 100px;">
      竹炭,东方传承千年的净化有效成分。
      <br>
      SUNMOLES竹炭净透面膜选用行业公认最理想的净化、清洁成分-竹炭,并富 含芦荟原液,深层净化肌肤同时镇静消炎,保湿舒缓。
      <br>
      同时萃取海藻、甘草、生姜、山茶等天然精华,排出肌肤毒素,提亮肤色。
      <br>
    </h3>
  </div>
