<div class="col-sm-12 col-md-12" style="margin-top: 50px; margin-bottom: 50px;">

  <div class="text-center">
    <h2>
      Brand Story & History <br>
      品牌故事&历史
    </h2>
  </div>


SUNMOLES的品牌创立初衷是追求高效护肤,健康生活。 <br>
SUNMOLES创始人的家族是上个世纪90年初开始,为韩国及全球众多一线护肤品牌提供OEM贴牌生产的护肤品制造商。长期的护肤行业熏陶,创始人反而希望找到返璞归真的护肤品和护肤方式。
<br>

人们为什么去护肤?人们到底需要怎样的护肤品? <br>
SUNMOLES创始人2010年开始试验,探寻人们心目中最合适最有效的护肤方式。 <br>
历经多年探索,在成千上万种配方中反复试验,SUNMOLES最终决定化繁为简,用革命性科研级配方的面膜 <br>
SUNMOLES MASK,全面实现高效护肤。 <br>

SUNMOLES,致力于探索女性简单高效健康的革命性护肤体验。


</div>
