
<h2 class="text-center" style="margin-top: 100px;">玻尿酸补水沁润面膜</h2>

<div class="col-sm-offset-2 col-sm-offset-8 col-md-offset-2 col-md-8 display-block" style="margin-top:50px;">
    <%= image_tag 'samples/sample01.png', width: '100%', height: '400px;'%>
</div>

<p class="col-sm-offset-1 col-sm-offset-10 col-md-offset-1 col-md-10" style="margin-top:50px; margin-bottom:100px;">
  <span>玻尿酸补水沁润面膜为SUNMOLES首个并且主打的产品。革命性开创使用大小多种分子的玻尿酸,小于纳 米千万级分子的玻尿酸,深层保湿,浸润肌肤,并辅以胶原蛋白,给水分肌肤充盈弹性,提升保湿效果, 同时结合积雪草、母菊、茶叶等多种自然提取精华,亮白肌肤,巩固及加强保湿效果。</span>
  <br>
  <span>尖端科技的多分子玻尿酸,胶原蛋白,结合东方的植物萃取理念,并辅以先进的分子技术及科学的成分配比,由内而外还肌肤持久水润透白。</span>
</p>
