<div class="container">
  <h2 class="text-center">
    产品优势
  </h2>

  <div class="col-md-7 col-sm-6">
    <h3>
      <strong>
        超强保湿 集中补水
      </strong>
        高浓度面膜精华液,给肌肤形成持久水分保护膜。
      <br>

      <strong>
        提供营养 赋予活力
      </strong>
        有效成分向肌肤提供丰富营养和水分,使肌肤水润光泽赋有活力。
      <br>

      <strong>
        适应人群:
      </strong>
      适合各种肌肤,孕妇及敏感性肌肤均可使用。
      <br>

      <strong>
        清洁肌肤 净化毛孔
      </strong>
        帮助调理肌肤,净化、清洁毛孔,改善多余油脂分泌,使肌肤达到水油平衡最佳状态。
      <br>

      <strong>
        敏感肌肤也可以放心使用
      </strong>
        含有有助于肌肤镇定的植物成分。
      <br>


      <strong>
        高度贴合面膜材质
      </strong>
        超细纤维材质面膜,与面部肌肤实现完美贴合,面膜所含营养能更有效的传达给肌肤。
      <br>
    </h3>
  </div>

  <div class="col-md-5 col-sm-6">
    <%= image_tag 'samples/sample01.png', width: '100%;' %>
  </div>
</div>
