<div style="">
  <div class="" style="padding-top: 100px; padding-bottom: 100px;">
    <h2 class="text-center">SUNMOLES</h2>

    <h1 class="text-center" style="color: white;">此刻邀你
      <br>发现专属你的美学
    </h1>

    <div class="col-sm-offset-1 col-sm-10 col-md-offset-1 col-md-10">
      <div class="col-sm-offset-1 ">

      </div>
    </div>
  </div>
</div>

<div class="context text-center">
  <ol>
    <li>
      <a href="#" data-toggle="modal" data-target="#signup-modal">注册</a>
    </li>
  </ol>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
      <%= image_tag 'samples/sample01.png', width: '100%', height: '400px;'%>
</div>
