<div class="col-sm-12 col-md-12" style="margin-top: 50px; margin-bottom: 50px;">

  <div class="col-sm-offset-1 col-sm-10 col-md-offset-2 col-md-8">
    <h2 class="text-center"> 防伪查询 </h2>
    <label for="" class="label label-success" width='600px;'>   </label>
    <h4>亲们,为保障广大顾客的利益,SUNMOLES产品采用先进数码防伪系统,防伪标一般贴在包装盒顶部,刮开涂层,输入16位防伪码,即刻查询产品真伪。</h4>
  </div>

</div>
