  <div class="col-sm-12 col-md-12" style="margin-top: 50px; margin-bottom: 50px;">
    <div class="col-sm-6 col-md-6">
      <%= image_tag 'samples/sample01.png', width: '100%' %>
    </div>

    <div class="col-sm-6 col-md-6">
      <h3> 清洁毛孔 镇静消炎 水油平衡 孕妈可用 </h3>

      <h4> 主要成分: </h4>
        竹炭、芦荟原液、海藻、甘草、生姜、山茶等天然精华。

      <h4> 规格/容量: </h4>
      30ml*6片

      <h4> 适应人群: </h4>
      适合需要净透补水的各类肌肤,孕妇及敏感性肌肤均可使用。

      <h4> 商品功效: </h4>
      清洁毛孔,镇静消炎,保湿舒缓,提亮肤色。

      <h4> 产地: </h4>
      韩国

      <h4> 竹炭净透面膜 </h4>
      清洁毛孔、镇静消炎、水油平衡,孕妈可用。

    </div>
  </div>
