<div class="col-sm-12 col-md-12" style="margin-top: 50px; margin-bottom: 50px;">

  <div class="col-sm-8 col-md-9">
    功效及成分:

    <h4> 清洁毛孔: </h4>
  竹炭,蕴含丰富的矿物元素和多种珍贵植物精华,深入肌底,激发细胞活力,有效调理
  水油平衡,去除油脂污垢、软化角质,促进新陈代谢,净透肌肤。

    <h4> 水油平衡: </h4>
    富含海藻提取物,帮助肌肤排除废弃物,增强肌肤保湿能力,持久净透水润。芦荟叶汁
    成分能清洁毛孔,改善肌肤油脂分泌,保持肌肤干净清爽。

    <h4> 镇定肌肤 活血促生: </h4>
    泛醇(维生素B5),具有保湿镇定功效,改善肌肤痛痒问题,有效呵护敏感肌肤。生姜, 含有多种活性成分,能够刺激皮肤增强血液循环,有效修护粗糙肌肤表层,具有很强的 抗氧化与镇静消炎的作用。

    <h4> 商品功效: </h4>
    清洁毛孔,镇静消炎,保湿舒缓,提亮肤色。

    <h4> 提亮肤色: </h4>
    富含的甘草,通过抑制酪氨酸酶和多巴色素互变酶(TRP-2)的活性、阻碍5,6—二羟基吲 哚(DHl)的聚合,从而帮助肌肤美白提亮,并具有防晒功效。
  </div>

  <div class="col-sm-4 col-md-3">
    <%= image_tag 'samples/sample01.png', width: '100%' %>
  </div>
</div>
