  <div style="background-color:black">
    <h2 style="color: white; margin: 0 0 0 0; padding: 20px 0 20px 0;" class="text-center">
      JOIN SUNMOLES
    </h2>
  </div>

  <div class="col-sm-12 col-md-12">
    <div class="text-center">
      <h2>入驻流程</h2>
      <h2>订单中心</h2>
      <h2>配货服务</h2>
    </div>
  </div>
