  <div class="container">
    <h2 class="text-center">
      超强保湿 集中补水 水油平衡 <br>
      清洁毛孔 弹力紧致 孕妈可用
    </h2>

    <div class="col-md-7 col-sm-6">
      <h3>
        <strong>
          主要成分:
        </strong>
        高浓度玻尿酸精华,水解胶原蛋白精华,甘草根提取物,藻类提取物。
        <br>
        <strong>
          规格/容量:
        </strong>
        30ml*6片
        <br>
        <strong>
          适应人群:
        </strong>
        适合各种肌肤,孕妇及敏感性肌肤均可使用。
        <br>
        <strong>
          商品功效:
        </strong>
        补水保湿,滋润提亮,水油平衡,清洁毛孔。
        <br>
        <strong>
          产地:
        </strong>
        韩国
      </h3>
    </div>

    <div class="col-md-5 col-sm-6">
      <%= image_tag 'samples/sample01.png', width: '100%;' %>
    </div>
  </div>
