<div class="sidebar-wrapper">

	<div id="menubox">
		<div class="logo"><img src="/images/logo.gif" alt=""><div id="test"></div></div>
		<ul id="menu">
			<li class="first"><a class="area" href="#">AREA</a>
    			<ul>
    				<li id="li_aquamarine" class="active"><a href="#aquamarine">01.<span>活體海產</span></a></li>
    				<li id="li_instantly"><a href="#instantly">02.<span>立吞美食</span></a></li>
    				<li id="li_seafood"><a href="#seafood">03.<span>快意鮮味吧</span></a></li>
    				<li id="li_hotpot"><a href="#hotpot">04.<span>樂烹鍋物</span></a></li>
    				<li id="li_barbeque"><a href="#barbeque">05.<span>炭道海鮮燒烤</span></a></li>
    				<li id="li_freshfood"><a href="#freshfood">06.<span>生鮮超市</span></a></li>
    				<li id="li_cooked"><a href="#cooked">07.<span>熟食即食</span></a></li>
    				<li id="li_lifestyle"><a href="#lifestyle">08.<span>美好生活</span></a></li>
    				<li id="li_fruit"><a href="#fruit">09.<span>繽果</span></a></li>
    				<li id="li_flowers"><a href="#flowers">10.<span>花坊</span></a></li>
    			</ul>
			</li>
			<li id="li_about"><a class="about" href="#about">ABOUT</a></li>
			<li id="li_addiction"><a class="addiction" href="#addiction">ADDICTION</a></li>
			<li id="li_agenda"><a class="agenda" href="#agenda">AGENDA</a></li>
			<li id="li_affection"><a class="affection" href="#affection">AFFECTION</a></li>
			<li id="li_access"><a class="access" href="#access">ACCESS</a></li>
		</ul>
		<div class="icomu"><img src="/images/ico_mu.gif" alt="" width="31" height="32"></div>
		<div class="tolamer"><a target="_blank" href="http://www.addiction.com.tw/lamer/">上引煮海</a></div>
		<!--<div class="tolamer"><a target="_blank" href="http://www.addiction.com.tw/lamer/"><img src="/images/logo_lmer.gif" alt="" width="95" height="200" /></a></div>
		<div class="arwleft" id="dotleft"><img src="/images/dot_left.png" alt="" /></div>-->
	</div>
</div>


<script>
  $("#menubox").hover(
  function(){
    $('#menubox').stop().animate({left:0}, 300);
  },
  function(){
    $("#menubox").stop().animate({left:-135}, 300);
  })
</script>
