<!-- 跳转 local scroll js -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.3.5/jquery.localScroll.min.js"></script>
<div class="sidebar-wrapper">
  <%= render 'sidebar' %>
</div>

<div id="wrapper">
  <div class="mainbox"> <%= render 'units/unit1' %> </div>
  <div class="mainbox" id='landing_page_1'> <%#= render 'landing_page_1' %> </div>
  <div class="mainbox" id='landing_page_2'> <%#= render 'landing_page_2' %> </div>
  <div class="mainbox" id='landing_page_4'> <%#= render 'landing_page_4' %> </div>
  <div class="mainbox" id='landing_page_5'> <%#= render 'landing_page_5' %> </div>
  <div class="mainbox" id='landing_page_6'> <%#= render 'landing_page_6' %> </div>
  <div class="mainbox" id='landing_page_7'> <%#= render 'landing_page_7' %> </div>
  <div class="mainbox" id='landing_page_8'> <%#= render 'landing_page_8' %> </div>
  <div class="mainbox" id='landing_page_9'> <%#= render 'landing_page_9' %> </div>
  <div class="mainbox" id='landing_page_10'> <%#= render 'landing_page_10' %> </div>
  <div class="mainbox" id='landing_page_11'> <%#= render 'landing_page_11' %> </div>
  <div class="mainbox" id='landing_page_12'> <%#= render 'landing_page_12' %> </div>
  <div class="mainbox" id='landing_page_13'> <%#= render 'landing_page_13' %> </div>
  <div class="mainbox" id='landing_page_14'> <%#= render 'landing_page_14' %> </div>
  <div class="mainbox" id='landing_page_15'> <%#= render 'landing_page_15' %> </div>
</div>
ß
