<div class="">
  <%#= image_tag "images/unit1/area01_txt_bg#{I18n.locale}.png", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
  <%= image_tag "http://oqkojfley.bkt.clouddn.com/images/example/example_#{I18n.locale}.jpg", alt: "images/unit1/area01_txt_bg_#{I18n.locale}.png"%>
</div>
