<div class="footer clear"> </div>
<div class="footer box">
  <div class="inner">
    <div class="left">
      <div class="">
        <p>©2016  偲娅（浙江）化妆品有限公司. All Rights Reserved. &nbsp;&nbsp;
          <a href="/#about">公司介绍</a>  &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="/#access">联系我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="join-us">招商加盟</a>&nbsp;&nbsp;|&nbsp;&nbsp;
          <a href="declaration">免责声明</a>&nbsp;&nbsp;浙ICP备17011982
        </p>
        <div class="pull-right">
          <a href="http://weibo.com/u/6015311546?refer_flag=1001030101_" target="_blank"><img src="images/weibo.jpg" border="0"></a>
          &nbsp;&nbsp;
          <a href="https://shop433521544.taobao.com" target="_blank"><img src="images/taobao.jpg" border="0"></a>
        </div>
      </div>
      <div class="clear"> </div>
    </div>
  </div>
  <div class="right">
    <img src="images/footer/wechat-cn.png" title="SUNMOLES官方微信.png" alt="SUNMOLES官方微信.png" width="90px" height="" border="" vspace="">
    <!-- <img src="images/footer/wechat-kr.png" width="90px" height="" border="" vspace=""> -->
  </div>
</div>

<!-- ©2016  偲娅（浙江）化妆品有限公司. All Rights Reserved.  浙ICP备17011982
<a href="http://weibo.com/u/6015311546?refer_flag=1001030101_" target="_blank"><img src="images/weibo.jpg" border="0"></a>
<a href="https://shop433521544.taobao.com" target="_blank"><img src="images/taobao.jpg" border="0"></a>
<div class="">
  <img src="images/footer/wechat-cn.png" border="0">
  <img src="images/footer/wechat-kr.png" border="0">
</div> -->
