<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit9_idx/area09_01.png" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit9_idx/area09_idx_h.png" alt="">
		</div>
</div>
