<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit7_idx/area07_01.jpeg" alt=""></div>
	    </div>
		<div class="hline">
		    <a class="unit1" href="#unit1">&nbsp;</a>
			<img src="/images/unit7_idx/area07_idx_h.png" alt="" style=" margin-top: 308px; height: 450px; ">
			<img class="arrow" src="/images/dot_down.png" alt="" id="dotdown" style="opacity: 0; top: 325px;">
		</div>
</div>
