<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit7_idx/area07_01.jpeg" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit7_idx/area07_idx_h.png" alt="" style=" margin-top: 308px; height: 450px; ">
		</div>
</div>
