<div class="unit1">
	    <div class="parallex" style="height:800px;">
	    	<div class="mainbg" data-parallex-distance="2" style="top: 45px;"><img src="/images/unit1/area01_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 50px;"><img src="/images/unit1/area01_txt_bg.png" alt=""></div>
	    </div>
		<div class="ptslide">
			<div class="" style="height:18px;" >
				<img src="/images/unit1/area01_pt_01.png" alt="">
			</div>
			<div class="bg">
			<div class="bgbox">
			<!-- background url(iamges/unit1/area01_pt_bg.png) -->
			    <div class="fresh"><img src="/images/unit1/area01_fresh.png" alt="" width="125" height="126"></div>
					<ol>
			        <li class="with-mask">
				        <a rel="shadowbox" href="images/unit1/area01_pt_02b.png">
					        <img src="/images/unit1/area01_pt_02.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_03b.png">
				        	<img src="/images/unit1/area01_pt_03.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_04b.png">
				        	<img src="/images/unit1/area01_pt_04.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_05b.png">
				        	<img src="/images/unit1/area01_pt_05.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li class="last">
			        	<a rel="shadowbox" href="images/unit1/area01_pt_06b.png">
				        	<img src="/images/unit1/area01_pt_06.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			    </ol>
		    </div>
		</div>
	</div>
</div>


<script type="text/javascript">
	$("a[rel=shadowbox").hover(function(){
		$(this).find(".mask").stop().animate({opacity:0.5},600);
	},function(){
		$(this).find(".mask").stop().animate({opacity:0},600);
	});
</script>
