<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;">
					<img class="bottom" src="/images/unit2_idx/area02_01.png" alt="">
				</div>
	    </div>
		<div class="hline">
			<img src="/images/unit2_idx/area02_idx_h.png" alt="" style="height: 450px; ">
		</div>
</div>
