<div class="idx unit8" style="background-color: #fff;">
	    <div class="parallex">
		    <div class="" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit8_idx/area08_01.png" alt=""></div>
	    </div>
		<div class="hline">
			<img id="hline" src="/images/unit8_idx/area08_idx_h.png" alt="">
		</div>
		<div class="contxt">
			SUNMOLES的品牌创立初衷是追求高效护肤，健康生活。 <br>
			SUNMOLES创始人的家族是上个世纪90年初开始，为韩国及全球众多一线护肤品牌提供OEM贴牌生产的护肤品制造商。 <br>
			长期的护肤行业熏陶，创始人反而希望找到返璞归真的护肤品和护肤方式。 <br>
			SUNMOLES创始人2010年开始试验， 历经多年探索，在成千上万种配方中反复试验，SUNMOLES最终决定化繁为简。 <br>
			SUNMOLES，致力于探索女性简单高效健康的革命性护肤体验。 <br><br>
      1992年，SUNMOLES创始人家族开始为各大护肤品牌提供贴牌生产； <br>
			2010年，SUNMOLES创始人自行探索，研发卓效护肤配方； <br>
			2015年，SUNMOLES在上万次试验，及韩国本土试用后，发现独特的高效补水配方； <br>
			2016年，SUNMOLES首推沁润面膜，并在中国大陆推出万人试验，口碑卓效； <br>
			2017年，SUNMOLES获中国入境批准，产品全面上线 <br>
		</div>
</div>
<!-- end of history -->
