<div class="idx unit10_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit10_idx/area10_01.jpg" alt=""></div>
	    </div>
			<div class="ptslide">
				<div class="">
					<%= image_tag "/images/unit10_idx/area10_idx_h1_#{I18n.locale}.png"%>
				</div>
					<%= image_tag "/images/unit10_idx/area10_idx_h2_#{I18n.locale}.png", style: "margin-top: 10px;"%>
			</div>
</div>
