<div class="idx">
		<!-- <div class="lang"><a href="#">中文 - Enligh </a>/<a href="#"> 日本語 - Enligh</a></div> -->
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit1_idx/area01_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
		    <a class="unit1" href="#unit1">&nbsp;</a>
			<img src="/images/unit1_idx/area01_idx_h.png" alt="">
			<img class="arrow" src="/images/dot_down.png" alt="" id="dotdown" style="opacity: 0; top: 325px;">
		</div>
	</div>
