<div class="unit2">
	   <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit2/area02_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit2/area02_txt_bg.png" alt=""></div>
		</div>


		<div class="ptslide">
      <div id="Carousel1" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel1" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel1" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel1" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit2/area02_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit2/area02_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit2/area02_pt_03.png" alt="">
          </div>
        </div>
			</div>

				<div class="tag">
					<img src="/images/unit2/area02_tag.png" alt="">
				</div>
		</div>
		<!-- Wrapper for slides -->
		<!-- 玻尿酸补水沁润面膜 -->
		<div class="contxt">
		    <div class="contxthd text-center">
						<h1>超强保湿  集中补水  水油平衡 清洁毛孔  弹力紧致  孕妈可用 </h1>
		    </div>
		    <div class="contxtbd">
		        <div class="left">SUNMOLES首个并且主打的产品。革命性开创使用大小多种分子、小于纳米千万级分子的玻尿酸，深层保湿，浸润肌肤，并辅以胶原蛋白，给水分肌肤充盈弹性，提升保湿效果，同时结合积雪草、母菊、茶叶等多种自然提取精华，亮白肌肤，巩固及加强保湿效果。</div>
		        <div class="right">
							主要成分：<br> 高浓度玻尿酸精华，水解胶原蛋白精华，甘草根提取物，藻类提取物。 <br><br>
							适应人群：<br> 适合各种肌肤，孕妇及敏感性肌肤均可使用。
						</div>
		    </div>
		    <div class="contxtft">
						功效及成分: <br>
						高浓度面膜精华液，给肌肤形成持久水分保护膜。
						有效成分向肌肤提供丰富营养和水分，使肌肤水润光泽赋有活力。
						帮助调理肌肤，净化、清洁毛孔，改善多余油脂分泌，使肌肤达到水油平衡最佳状态。
						超细纤维材质面膜，与面部肌肤实现完美贴合，面膜所含营养能更有效的传达给肌肤。
		    </div>
		</div>
</div>
