<div class="idx unit11_idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit11_idx/area11_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit11_idx/area11_idx_h.png" alt="">
		</div>
</div>
<!-- end of access -->
