<div class="unit7">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: 45px;"><img src="/images/unit7/area07_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 50px;"><img src="/images/unit7/area07_txt_bg.png" alt=""></div>
	    </div>
		<div class="ptslide">
			<img src="/images/unit7/area07_pt_01.png" alt="">
			<div class="bgbox" style="margin-top:200px;">
			<!-- background url(iamges/unit1/area01_pt_bg.png) -->
					<ol>
			        <li> <img src="/images/unit7/area07_pt_02.png" alt=""> </li>
			        <li> <img src="/images/unit7/area07_pt_03.png" alt=""> </li>
			        <li class="last"> <img src="/images/unit7/area07_pt_04.png" alt=""> </li>
			    </ol>
		    </div>
		</div>
	<div class="contxt">
		<div class="contxthd">
			使用方法： <br>
			在打开包装袋使用前，轻轻挤压面膜袋两到三次，使袋中的高浓度营养液混合均匀。 <br>
			1.清洁面部。 <br>
			2.从袋中取出面膜贴，将面膜紧密帖服于脸部。 <br>
			3.等待15-20分钟后取下，用指尖轻轻拍打脸部，使脸上残余的营养充分渗入肌肤深层。 <br>
			·人的肌肤周转周期是4周，推荐每周使用2-3次面膜贴，保持使用4周。 <br>
			·夏天使用时，将面膜放入冰箱冷藏后使用效果会更出色。 <br>
			·冬天使用时，将面膜放入37℃的温水中，2分钟后取出敷用，肌肤更快速吸收营养。 <br>
		</div>
	</div>
</div>
