<div class="idx unit8" style="background-color: #fff;">
	    <div class="parallex">
		    <div class="" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="http://oy3jcebj2.bkt.clouddn.com/images/unit8_idx/area08_01.png" alt=""></div>
	    </div>
		<div class="hline">
			<%= image_tag "/images/unit8_idx/area08_idx_h_#{I18n.locale}.png", id:"hline"%>
			<a class="more-<%= I18n.locale %>" href="#history" style="width:150px; height:80px; left: 85%; bottom: 0px;"></a>
		</div>
</div>
<!-- end of history -->
<%# TODO: add buttom %>
