<div class="idx unit9_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit9_idx/area09_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit9_idx/area09_idx_h.png" alt="">
			<div class="sb-hline">
				<div class="">

					<img src="/images/unit9_idx/area09_idx_1.png" alt="">
				</div>
				<div class="">

					<img src="/images/unit9_idx/area09_idx_2.png" alt="">
				</div>
			</div>
		</div>
</div>
