<div class=" unit1">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: 45px;"><img src="/images/unit1/area01_02.jpg" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 50px;"><img src="/images/unit1/area01_txt_bg.png" alt=""></div>
	    </div>
		<div class="ptslide">
			<img src="/images/unit1/area01_pt_01.png" alt="">
			<div class="bgbox">
			    <div class="fresh"><img src="/images/unit1/area01_fresh.png" alt="" width="125" height="126"></div>
					<img src="images/unit1/area01_pt_02b.jpg">
				<ol>
			        <li>
				        <a rel="shadowbox" href="images/productions/area01_pt_02b.jpg">
					        <img src="/images/unit1/area01_pt_02.jpg" alt="">
					        <div class="add"></div>
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/productions/area01_pt_03b.jpg">
				        	<img src="/images/unit1/area01_pt_03.jpg" alt="">
					        <div class="add"></div>
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/productions/area01_pt_04b.jpg">
				        	<img src="/images/unit1/area01_pt_04.jpg" alt="">
					        <div class="add"></div>
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li class="last">
			        	<a rel="shadowbox" href="images/productions/area01_pt_05b.jpg">
				        	<img src="/images/unit1/area01_pt_05.jpg" alt="">
					        <div class="add"></div>
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			    </ol>
		    </div>
		</div>
		<div class="contxt">
		    <div class="contxthd">
		        <div class="left"><img src="/images/unit1/area01_title01.png" alt="" width="31" height="31"></div>
		        <div class="right"><img src="/images/unit1/area01_title02.png" alt="" width="31" height="31"></div>
		    </div>
		    <div class="contxtbd">
		        <div class="left">透過批發自營、產地直送的模式，達到品質控管的目的，讓價格得以合理透明，進一步回饋消費者。</div>
		        <div class="right">在活體水產區，水質條件、溫度控管的水槽裡，是來自世界各地的海鮮活體，提供給業務型與一般消費者，現場並有魚體處理與代客烹調服務。</div>
		    </div>
		    <div class="contxtft">
		        <div class="left">
			        <h1>Spirit</h1>
					<p>Through wholesalers facing consumers directly and the model of direct shipment from the origin, the AAD aims to many benefits such as providing good quality control of products and reasonable pricings to customers.</p>
				</div>
		        <div class="right">
					<h1>Orientation</h1>
					<p>In the live aquamarine area, temperature controlled tanks contain live seafood from all over the world, providing general consumers and business consumers live fish processing and cooking services.</p>
		        </div>
		    </div>
		</div>
		<div class="areamap"><img class="mapmk" src="/images/area01_mk.png" alt=""><img src="/images/map_01.png" alt=""></div>
</div>



<div id="sb-container" class="" style="display: none; height: 751px; width: 992px; visibility: hidden;">
	<div id="sb-overlay" style="background-color: rgb(0, 0, 0); opacity: 0;"></div>
	<div id="sb-wrapper" style="top: 71px; left: 38px; width: 915px; visibility: hidden;">
		<div id="sb-title">
			<div id="sb-title-inner" style="margin-top: 0px;"> </div>
		</div>
		<div id="sb-wrapper-inner" style="height: 609px;">
			<div id="sb-body">
				<div id="sb-body-inner"></div>
				<div id="sb-loading" style="display: none;">
					<div id="sb-loading-inner">
						<span>loading</span>
					</div>
				</div>
			</div>
		</div>
		<div id="sb-info">
			<div id="sb-info-inner" style="margin-top: 0px;">
				<div id="sb-counter"></div>
				<div id="sb-nav">
					<a id="sb-nav-close" title="Close" onclick="Shadowbox.close()"></a>
					<a id="sb-nav-next" title="Next" onclick="Shadowbox.next()" style="display: none;"></a>
					<a id="sb-nav-play" title="Play" onclick="Shadowbox.play()" style="display: none;"></a>
					<a id="sb-nav-pause" title="Pause" onclick="Shadowbox.pause()" style="display: none;"></a>
					<a id="sb-nav-previous" title="Previous" onclick="Shadowbox.previous()" style="display: none;"></a>
				</div>
			</div>
		</div>
	</div>
</div>
