<div class="unit4">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit4/area04_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit4/area04_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel3" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit4/area04_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_03.png" alt="">
          </div>
        </div>
      </div>
			<!-- easyslider 在此長出 numeric -->
			<div class="tag">
				<img src="/images/unit4/area04_tag.png" alt="">
			</div>
		</div>
		<!-- 雪颜靓白面膜 -->
		<div class="contxt">
				<div class="contxthd text-center">
						<h1>美白滋润  温和修护  改善肤质  孕妈可用 </h1>
				</div>
				<div class="contxtbd">
						<div class="left">以维生素B3为主要成分，创新性融入乳酸菌成分，改善肤质，实现肌肤自身优化循环，同时滋润、修护，美白肌肤，天然无伤害。 </div>
						<div class="right">
							主要成分：<br> 维生素B3、乳酸菌等成分。
							<!-- <br><br> 适应人群：<br> 适合各类肤质，孕妇及敏感性肌肤均可使用。  -->
						</div>
				</div>
				<div class="contxtft">
						功效及成分: <br>
维生素B3能够抑制黑色素产生、抑制炎症，增强肌肤自生的保湿功能，恢复水油平衡，加速人体肌肤的新陈代谢、促进表面皮肤内蛋白质增长。
创新性融入乳酸菌温和成分，同时滋润、修护，美白肌肤，天然无伤害，使肌肤柔嫩、细腻。
				</div>
		</div>
</div>
