<div class="unit4">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit4/area04_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit4/area04_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel3" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit4/area04_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_03.png" alt="">
          </div>
        </div>
      </div>
		</div>

		<!-- 雪颜靓白面膜 -->
		<div class="contxt">
				<div class="contxthd">
					<div class="left">
						<h1>成分</h1>
					</div>
					<div class="right">
						<h1>功效</h1>
					</div>
				</div>
				<div class="contxtbd">
						<div class="left">
							维生素B3、乳酸菌等成分。
							<!-- 비타민B3 젖산균등성분 -->
						</div>
						<div class="right">
							抑制黑色素及炎症，活化肌肤细胞，加速皮肤蛋白质增长，深层滋润、修护并美白肌肤。
							<!-- 멜라닌과 염증을 억제하고 피부세포를 활성화시키고 피부단백질의 증장을 가속하며 심층보습 호리하고 미백해준다.  -->
						</div>
				</div>
		</div>
</div>
