<div class="idx unit11_idx" style="height: 500px;">
	    <div class="parallex">
		    <div class="mainbg"><img src="http://fqiniu.sunmoles.com/images/unit11_idx/area11_01.jpg" alt=""></div>
	    </div>
			<div class="box" style="height: 260px; top: 400px;">
				<div class="boxhd">
					<%= image_tag "/images/unit11_idx/area11_idx_h1_#{I18n.locale}.png", style:"width: 360px;"%>
				</div>
				<div class="contxt">

					상호: 이비야
					<br>
					사업장소재지: 서울특별시 강동구 동남로 75길 29
					<br>
					이메일 주소: services@sunmoles.com
				</div>
			</div>
</div>
