<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;">
					<img class="bottom" src="http://fqiniu.sunmoles.com/images/unit2_idx/area02_01.png" alt="">
				</div>
	    </div>
		<div class="hline" style="margin-top: 0px;">
			<%= image_tag "/images/unit2_idx/area02_idx_h_#{I18n.locale}.png"%>
			<a class="mifsola" href="/mifsola" style="width:150px; height:80px; left: 80%"></a>
		</div>
</div>
