<div class="unit1">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: 45px;"><img src="/images/unit1/area01_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 50px;"><img src="/images/unit1/area01_txt_bg.png" alt=""></div>
	    </div>
		<div class="ptslide">
			<div class="" style="height:394px;" >
				<img src="/images/unit1/area01_pt_01.png" alt="">
			</div>
			<div class="bg">
			<div class="bgbox">
			<!-- background url(iamges/unit1/area01_pt_bg.png) -->
			    <div class="fresh"><img src="/images/unit1/area01_fresh.png" alt="" width="125" height="126"></div>
					<ol>
			        <li>
				        <a rel="shadowbox" href="images/unit1/area01_pt_02b.png">
					        <img src="/images/unit1/area01_pt_02.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_03b.png">
				        	<img src="/images/unit1/area01_pt_03.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_04b.png">
				        	<img src="/images/unit1/area01_pt_04.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li>
			        	<a rel="shadowbox" href="images/unit1/area01_pt_05b.png">
				        	<img src="/images/unit1/area01_pt_05.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			        <li class="last">
			        	<a rel="shadowbox" href="images/unit1/area01_pt_06b.png">
				        	<img src="/images/unit1/area01_pt_06.png" alt="">
					        <!-- <div class="add"></div> -->
					        <div class="mask" style="opacity: 0;"></div>
				        </a>
			        </li>
			    </ol>
		    </div>
		</div>
	</div>
		<div class="contxt">
		    <div class="contxtft">
		        <div class="left">
			        <h1>整体护肤概念倡导者 </h1>
							<p> 精选纯天然草本精华 </p>
							<p> 与西方科学护肤成果完美结合 </p>
							<p> 有效缓解肌肤衰老及损伤等问题， </p>
							<p> 全方位点亮肌肤，新生焕发。 </p>
						</div>
		        <div class="right">
							<h1>自身美学倡议者</h1>
							<p>超越护肤理念 </p>
							<p>融合东西方美学理念 </p>
							<p>有机结合健康生活方式及自然护肤方式 </p>
							<p>唤醒自身美的力量 </p>
		        </div>
		    </div>
		</div>
</div>
