<div class="unit4">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit4/area04_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit4/area04_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel3" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel3" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel3" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit4/area04_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit4/area04_pt_03.png" alt="">
          </div>
        </div>
      </div>
			<!-- easyslider 在此長出 numeric -->
			<div class="tag">
				<img src="/images/unit4/area04_tag.png" alt="">
			</div>
		</div>
		<div class="contxt">
		    <div class="contxthd">
		        <div class="left"><img src="/images/unit2/area02_title01.png" alt="" width="31" height="31"></div>
		        <div class="right"><img src="/images/unit2/area02_title02.png" alt="" width="31" height="31"></div>
		    </div>
		    <div class="contxtbd">
		        <div class="left">由獲得多項日本全國性壽司比賽冠軍的料理長武田正彥坐鎮，長達12公尺的卡布里檯，宛如上引水產魚獲海味的最佳舞台。又快又好且貨真價實的料理，站著大塊朵頤，盡顯豪邁、效率、活力的魚市場氛圍。</div>
		        <div class="right">滿足價值超越價格的消費心理，在這裡您得以用最合理的價格，享用上引水產各式品饌美食。</div>
		    </div>
		    <div class="contxtft">
		        <div class="left">
			        <h1>Spirit</h1>
					<p>With the major chief chef from Japan, Mr. Tadashi Takeda overlooking the 12 meter sushi counter, it is the best stage for introducing aquamarine food products.  Good, fast, and value driven ingredients are provided, demonstrating the efficiency and vivacity of the fish market’s atmosphere</p>
				</div>
		        <div class="right">
					<h1>Orientation</h1>
					<p>Here, you can use the most reasonable prices to enjoy the AAD’s chosen good food with superior values.</p>
		        </div>
		    </div>
		</div>
	<div class="areamap"><img class="mapmk" src="/images/area02_mk.png" alt=""><img src="/images/map_02.png" alt=""></div>
</div>
