<div class="idx unit9_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit9_idx/area09_01.jpg" alt=""></div>
				<div class="certification">
					<img src="/images/unit9_idx/area09_idx_h1.jpg" alt="">
					<img src="/images/unit9_idx/area09_idx_h2.jpg" alt="">
				</div>
	    </div>
			<div class="box">
					<%= image_tag "/images/unit9_idx/area09_idx_1_#{I18n.locale}.png"%>
			</div>
</div>
