<div class="unit5">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit5/area05_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit5/area05_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel4" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel4" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel4" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel4" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit5/area05_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit5/area05_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit5/area05_pt_03.png" alt="">
          </div>
        </div>
      </div>
    </div>

		<!-- 紧致修护 -->
		<div class="contxt">
				<div class="contxthd">
					<div class="left">
						<h1><%= t("main_ingredient") %></h1>
					</div>
					<div class="right">
						<h1><%= t("function") %></h1>
					</div>
				</div>
				<div class="contxtbd">
						<div class="left">
							<%= t("main_ingredient_unit5") %>
							<!-- 维他命、氨基酸、矿物质有机酸等多重天然萃取物。 -->
							<!-- 비타민 아미노산 광물질 유기산등 다양한 자연추추물. -->
							<!-- Multiple natural extracts of vitamins, amino acids, mineral organic acids. -->
						</div>
						<div class="right">
							<%= t("function_unit5") %>
							<!-- 多种有机酸、矿物质直接作用于真皮层纤维母细胞，修护受损肌肤，增强肌肤抗氧化力，恢复肌肤细腻光滑状态。 -->
							<!-- 다양한유기산 광물질은 직접진피층의 섬유모세포에 작용하여 손상된 피부를 케어해주고 항산화력과 피부의 탄력을 강화한다. -->
							<!-- A variety of organic acids, minerals directly act on the dermal fibroblasts, repair damaged skin, enhance skin antioxidant, restore smooth and delicate skin. -->
						</div>
				</div>
			</div>
		</div>
