<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;"><img class="bottom" src="/images/unit10_idx/area10_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
			<img src="/images/unit10_idx/area10_idx_h.png" alt="">
		</div>
</div>
