<div class="idx unit10_idx">
	    <div class="parallex">
		    <div class="mainbg"><img src="/images/unit10_idx/area10_01.jpg" alt=""></div>
	    </div>
			<div class="ptslide">
				<div class="">
					<img src="/images/unit10_idx/area10_idx_h1.png" alt="">
				</div>
					<img src="/images/unit10_idx/area10_idx_h2.png" alt="" style="height: 450px;">
			</div>
</div>
