<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" data-parallex-distance="2" style="top: 0px;">
					<img class="bottom" src="http://oy3jcebj2.bkt.clouddn.com/images/unit2_idx/area02_01.png" alt="">
				</div>
	    </div>
		<div class="hline" style="margin-top: 0px;">
			<%= image_tag "/images/unit2_idx/area02_idx_h_#{I18n.locale}.png"%>
		</div>
</div>
