<div class="idx">
	    <div class="parallex">
		    <div class="mainbg" style="top: 0px;"><img class="bottom" src="http://oy3jcebj2.bkt.clouddn.com/images/unit1_idx/area01_01.jpg" alt=""></div>
	    </div>
		<div class="hline">
	    <a class="unit1" href="#product" style="height: 150px; top: 294px; width=100px;">&nbsp;</a>
			<%= image_tag "/images/unit1_idx/area01_idx_h_#{I18n.locale}.png", style: "height: 400px;" %>
			<img class="arrow" src="/images/dot_down.png" alt="" id="dotdown" style="opacity: 0; top: 325px;">
		</div>
	</div>
