<div class="unit5">
	    <div class="parallex">
	    	<div class="mainbg" data-parallex-distance="2" style="top: -39px;"><img src="/images/unit5/area05_02.png" alt=""></div>
	    	<div class="ptbg" data-parallex-distance="1.5" style="top: 4px;"><img src="/images/unit5/area05_txt_bg.png" alt=""></div>
		</div>

		<div class="ptslide">
      <div id="Carousel4" class="carousel slide text-center" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#Carousel4" data-slide-to="0" class="active"><span></span></li>
          <li data-target="#Carousel4" data-slide-to="1"><span></span></li>
          <li data-target="#Carousel4" data-slide-to="2"><span></span></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="/images/unit5/area05_pt_01.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit5/area05_pt_02.png" alt="">
          </div>
          <div class="item">
            <img src="/images/unit5/area05_pt_03.png" alt="">
          </div>
        </div>
      </div>
			<!-- easyslider 在此長出 numeric -->
			<div class="tag">
				<img src="/images/unit5/area05_tag.png" alt="">
			</div>
		</div>

		<div class="contxt">
				<div class="contxthd text-center">
						<h1>
							提拉紧致  改善肤质  补水保湿  提亮肤色  孕妈可用
						</h1>
				</div>
				<div class="contxtbd">
						<div class="left">
							结合天然谷物的呼吸净化作用，14天孕育健康肌肤新细胞，补水保湿、提拉紧致、提亮肤色，多种问题一次解决，从底层肌肤着手解决顽固的肌肤问题。
						</div>
						<div class="right">主要成分：<br>
							维他命、氨基酸、矿物质有机酸等多重天然萃取物。
							<!-- <br><br> 适应人群：<br> 适合各种需要修护的肌肤，孕妇及敏感性肌肤均可使用。 -->
						</div>
				</div>
				<div class="contxtft">
						功效及成分: <br>
						富含多种有机酸，辅酶Q10修护受损肌肤，提升皮肤的细腻度与光滑度。
						富含的矿物质天然保湿因子，达到长效保湿功效。
						结合天然谷物的呼吸净化作用，对皮肤深层进行有效养护。
						维他命、氨基酸可直接到真皮层纤维母细胞发挥作用，增强肌肤的弹力和抗氧化力，并维持足够的胶原纤维和弹性纤维，使皮肤提亮柔滑，细腻富有弹性。
				</div>
		</div>
</div>
