.footer {
  background-color: #fff;

  a:visited {
    COLOR: #343434;
    TEXT-DECORATION: none;
  }

  a:link {
    COLOR: #343434;
    TEXT-DECORATION: none;
    outline-style: none;
  }

  .clear {
    CLEAR: both;
    MARGIN-TOP: -1px;
    FONT-SIZE: 1px;
    VISIBILITY: hidden;
    WIDTH: 1px;
    LINE-HEIGHT: 0;
    HEIGHT: 0px;
  }

  .box {
    width: 100%;
    padding: 4px 0px;
    border-top: 1px solid #ddd;
    overflow: hidden;
    min-width: 1100px;
  }

  .inner {
    width: 1200px;
    margin: 0px auto;
    font-size: 12px;
    color: #666;
    overflow: hidden;
  }

  .inner .left {
    float: left;
    width: 900px;
    padding: 10px 0px 0px 0px;
  }

  .inner .left p {
    padding: 6px 0px 14px 0px;
    float: left;
    font-family: "微软雅黑", Arial, Verdana, sans-serif;
  }

  .box .right {
    // text-align: right;
    display: inline-block;
    vertical-align: middle;
    width: 200px;
    padding: 0px 0px 0px 0px;
    // float: right;
  }
}
