// Place all the styles related to the landing-page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
<<<<<<< HEAD

body {
  display: block;
  margin: 0
}

div {
}

#wrapper {
  position: relative;
  top: 0;
  width: 100%;
}

.mainbox {
  position: relative;
  margin: 0 0 0 95px;
  display: block;
  overflow: hidden;
}
=======
>>>>>>> a3c6bca12a079caa3a84620f56c5b8ab83a7261d
