// Place all the styles related to the landing-page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  display: block;
  margin: 0
}

div {
}

#wrapper {
  position: relative;
  top: 0;
  width: 100%;
}

.mainbox {
  position: relative;
  margin: 0 0 0 95px;
  display: block;
  overflow: hidden;
}


#landing_page_3 {
  background-color: #9e7a7a;;
}

#landing_page_5 {
  background-color: #e87a90;
}

#landing_page_6 {
  background-color: #feDfe1;
}

#landing_page_7 {
  background-color: #9e7a7a;;
}

#landing_page_8 {
  background-color: #e87a90;
}

#landing_page_9 {
  background-color: #feDfe1;
}

#landing_page_10 {
  background-color: #9e7a7a;;
}

#landing_page_13 {
  background-color: #e87a90;
}

#landing_page_12 {
  background-color: #feDfe1;
}

#landing_page_11 {
  background-color: #ffffff;
}


#landing_page_15 {
  background-color: #feDfe1;
}
