// Place all the styles related to the oldweb controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#oldweb {
  .declaration-box {
    padding-top: 50px;
    width: 1100px;
    overflow: hidden;
    margin: 0px 0px 1px 0px;
    background-color: inherit;
  }
}

#oldweb .declaration-box {
  .title {
    overflow: hidden;
    height: 50px;
    color: #333;
    padding-bottom: 0px;
    line-height: 30px;
    background-position: center top;
    text-indent: 0px;
    min-width: 180px;
    max-width: 480px;
    font-size: 26px;
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0px auto;
    border-bottom: 0px solid #8dbf41;
  }

  .content {
    line-height: 26px;
    padding: 20px 0px 10px 0px;
    margin: 0px auto;
    color: #666;
    font-size: 14px;
    text-indent: 0px;
    border: 0px solid #006699;
    min-height: 240px;

    .subtitle {
      text-align: left;
      margin-top: 5px;
      margin-bottom: 10px;
      font-family: arial, helvetica, "Microsoft YaHei", "微软雅黑", sans-serif;
      font-size: 14px;
      text-align: justify;
      font-weight: bold;
      color: #000;
    }

    p {
      text-align: justify;
      margin-bottom: 10px;
      font-family: arial, helvetica, sans-serif;
      letter-spacing: 0px;
      font-size: 14px;
      color: rgb(0, 0, 0);
    }

  }
}
