.sidebar-wrapper {
  position: fixed;
  width: 230px;
  height: 100%;
  padding: 0;
  z-index: 99;
  display: block;
}

.sidebar-wrapper #menubox {
  position: absolute;
  left: -135px;
  width: 230px;
  height: 100%;
  background: #7b9472
}
