.unit10_idx {
	height: 800px;

	.parallex {
		height: 100%;
		left: 0;
		overflow: hidden;
		position: absolute;
		top: 0;
		width: 100%;
	}

	.mainbg {
		position: absolute;
		width: 100%;
		display: block;
		z-index: 1;
	}

	.ptslide {
		position: absolute;
		top: 80px;
		left: 0;
		width: 100%;
		display: block;
		text-align: center;
		z-index: 3;
	}
}
