.unit11_idx {
	.ptbg {
		position: absolute;
		top: 26px;
		left: 0;
		width: 100%;
		display: block;
		text-align: center;
		z-index: 3;
	}

	.box {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -280px 0 0 -360px;
		// margin: -220px 0 0 -430px;
    width: 720px;
    height: 470px;
    // padding: 40px 170px 45px 180px;
		padding: 40px 70px 45px 80px;
    // color: #fff;
		font: 14px/18px "Gill Sans MT";
		z-index: 3;
		background: url(/images/unit11_idx/area11_idx_bg.png);

		.boxhd {
			display: block;
			clear: both;
			overflow: hidden;
			width: 100%;
			padding: 5px 5px 5px 5px;
			text-align: center;
		}

	  .contxt {
	    margin: 10px 0 0 120px;
	  }
	}
}
